<!DOCTYPE html>
<html>
  <head>
    <title>Style Search</title>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
